// COLORS
$primary-color: #E34A27;
$secondary-color: #e2350e;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(39, 37, 37);

$dark-grey: #110f0f;
$progress-color: rgb(39, 37, 37);

$dark-blue-text: rgb(226, 224, 235); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
