// COLORS
$primary-color: #374785;
$secondary-color: #24305e;
$highlight-color: #A8D0E6;
$highlight-color2: #66FcF1;


// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #0B172A;

$dark-grey: #110f0f;
$progress-color: #A8D0E6;

$dark-blue-text: rgb(226, 224, 235); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
