// COLORS
$primary-color: #ca5511;
$secondary-color: #fa3117;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(27, 26, 26);

$dark-grey: #110f0f;

$dark-blue-text: rgb(203, 202, 211); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
